<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="index.js"></script>
    <title>Delta Hacks 5</title>
  </head>
  <body onload="">
    <h1>The HyperCare Project (but actually a non-dumb name)</h1>
    <form id="login-form">
        <input type="text" name="username">
        <input type="password" name="password">
        <button id="login-btn">Login</button>
        <button id="signup-btn">Sign Up</button>
    </form>
  </body>
</html>
